$primary: #198754
@import "~bootstrap/scss/bootstrap"
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap')

h1, h2, h3, h4, h5, .btn
  font-family: 'Berkshire Swash', cursive

.rounded-xl
  border-radius: 25px

.amount-input
  width: 150px
  font-size: 2.5rem
  line-height: 2.5rem
  min-height: 2.5rem
  font-family: 'Berkshire Swash', cursive
  -moz-appearance: textfield
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0
  &:focus,
  &:active
    border: none
    outline: none

.cursor-pointer
  cursor: pointer

.dropdown-menu
  overflow: hidden
  .dropdown-item
    font-family: 'Berkshire Swash', cursive
    font-size: 1.3rem
    color: white
    &:hover
      color: $dark
      background: white

.story
  h1
    margin-top: 2rem
    text-align: center